.home_page {
    display: grid;
    grid-template-rows: 1fr 4fr;
    /* display: flex;
    flex-direction: column;*/
    min-height: 100%;
    /* flex: 1; */
}

.query_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.filter_options {
    display: flex;
    justify-content: space-around;
}