.menu {
    /* display: flex; */
    min-height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.menu_icon {
    font-size: 30px;
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.menu_icon.show,
.menu_icon:hover {
    transform: rotate(90deg);
    color: var(--primary-shade);
    opacity: 1;
    /* Default fallback */
}

.dropdown li {
    justify-content: center;
    /* padding: 5px 50px; */
}

.dropdown.show {
    opacity: 1;
    visibility: visible;
}

.connection {
    display: none;
    width: 100%;
    /* Ensure full width */
    background-color: orange;
    border: none;
    border-radius: 0px;
    padding-block: 5px;
    /* padding: auto; */
}

@media only screen and (max-width: 44em) {
    .chain_switch {
        display: block;
        align-items: center;
        align-self: center;
        cursor: pointer;

    }

    .connection {

        display: block;
        flex: 1;
    }
}