.filter_body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    /* Evenly distribute buttons */
    grid-auto-flow: column;
    /* Force items to stay in a single row */
    justify-content: space-between;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* gap: 16px; */
}

.filter_button {
    display: flex;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
    /* gap: 10px; */
    /* padding: 8px 0; */
    /* flex: 1; */
    border: none;
    /* border-radius: 4px; */
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.filter_button:hover {
    background-color: #e0e0e0;
}

.filter_button.active {
    background-color: #007bff;
    color: #fff;
}