.connect {
    /* display: flex;
    justify-content: center; */
    font-weight: Bold;
    min-width: 100px;
    min-height: 34px;
    border-radius: 0.4em;
    cursor: pointer;
    /* justify-content: center; */

}

.connect_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    /* column-gap:  var(--component-gap); */
    column-gap: 1rem;
}



@media only screen and (max-width: 44em) {
    .connect_container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .connect {
        display: none;
    }
}