.dropdown {
    position: relative;
}

.dropdownSelect {
    /* padding: 8px 16px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}