:root {
  --primary-color: #662d91;
  --primary-tint: #2d3d4c;
  --primary-shade: #d1c0de;

  --secondary-color: #00d6c4;
  --secondary-tint: #008076;
  --secondary-shade: #e6fbf9;

  --text-color: #58553d;
  --text-tint: #3f3d2c;
  --text-shade: #ffffff;

  --main-padding: 16px;
  --component-gap: 1em;
  --inline-padding-layout: 3rem;
  --block-padding-layout: 3rem;

  --font-geist-sans: 'Geist', Arial, sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #d1c0de;
    --primary-tint: #2d3d4c;
    --primary-shade: #662d91;

    --secondary-color: #e6fbf9;
    --secondary-tint: #008076;
    --secondary-shade: #00d6c4;
    /* text */
    --text-color: #ffffff;
    --text-tint: #3f3d2c;
    --text-shade: #58553d;

    --background-color: #0a0a0a;
    --card-bg: #1a1a1a;
    --border-color: #333;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  /* position: relative; */
  color: var(--text-shade);
  /* background: var(--text-shade); */
  background: var(--text-tint);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.web3 {
  display: none;
}

main {
  min-height: 100%;
  position: relative;
}

header {
  text-align: center;
  padding: 2rem;
  background: #111;
}

section {
  margin-bottom: var(--main-padding);
  background: var(--card-bg);
}

@media (max-width: 600px) {
  header h1 {
    font-size: 2.2rem;
  }
}

nav {
  top: 0;
  position: sticky;
  color: var(--text-shade);
  background-color: rgb(6, 6, 33);
  min-height: 100px;

}

input {
  display: flex;
  flex: 1;
  min-width: 100%;
  /* background-color: var(--primary-shade); */
  color: var(--text-tint);
  border: 1px solid var(--secondary-shade);
  padding: 0.5rem;
  border-radius: 0.3rem;
}

/* textarea,
select,
input {
  color: var(--primary-shade);
} */

.page {
  height: 100%;
  padding: var(--main-padding);
  font-family: var(--font-geist-sans);
  /* color: var(--text-tint); */
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar {
  width: 1rem;
  /* border: 1px solid var(--primary-color); */

}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: var(--text-shade);
  color: var(--text-tint);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--primary-color);
  width: 0.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button,
a {
  transition: all 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */



svg {
  display: block;
  /* min-height: 0px; */
}

.flex {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.dynamic_flex {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.media_card {
  min-width: 200px;
  min-height: 180px;
  background-color: var(--primary-shade);
}

.preview_card {
  /* flex: 1; */
  display: flex;
  /* min-width: 100%; */
  border: 1px solid var(--secondary-shade);
}

/* generic button */
.new_button {
  padding: 5px;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-family: PlusJakartaSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Cantarell, Helvetica Neue, Ubuntu, sans-serif;
  cursor: pointer;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(115, 184, 252, 0.5), inset 0.2rem 0.2rem 0.2rem 0.2rem rgba(115, 184, 252, 0.2);
  transition: 300ms ease;
  gap: 5px;
  background: var(--secondary-color);
  color: var(--text-color);
  font-weight: bold;
  /* min-width: 100%; */

  /* 👇 Border always defined */
  border: 1px solid transparent;
  margin: 0 auto;
}

.new_button:hover {
  border: 1px solid var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

@media screen and (max-width: 34em) {
  .page {
    padding: 0
  }

  .dynamic_flex {
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
    justify-content: space-between;
  }
}