.search_filter_body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
    gap: var(--main-padding);
    margin-bottom: var(--component-gap);
    /* align-items: center; */
}

.filter_controls {
    display: flex;
    flex-direction: row;
    gap: var(--main-padding);
    justify-content: center;
}