.select_field,
.textarea_field {}

.select_field:focus,
.textarea_field:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.5);
}

.select_container,
.textarea_container {
    display: flex;
    flex-direction: column;
}